.one-outer {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.one-inner {
  padding: 50px;
}

.one-inner p {
  /* margin-bottom: 10px; */
  font-size: 14px;
  font-weight: 700;
}

.one-inner input {
  border: none;
  border-bottom: 2px solid #cda1f9;
  width: 100%;
  outline: none;
  padding: 5px 0;
  color: #8b24f4;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.one-submit {
  border: none;
  background-color: #8b24f4;
  padding: 10px 25px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
}
